<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iTunes</key>
	<string>(bundleID == &apos;com.apple.iTunes&apos;) AND (version == &apos;9.1&apos;)</string>
	<key>Adobe</key>
	<string>(bundleID == &apos;com.adobe.Contribute&apos;) OR (bundleID == &apos;com.adobe.illustrator&apos;) OR (bundleID == &apos;com.adobe.Photoshop&apos;) OR (bundleID == &apos;com.adobe.InDesign&apos;) OR (bundleID == &apos;com.macromedia.fireworks&apos;) OR (bundleID == &apos;com.adobe.ExtensionManager&apos;) OR (bundleID BEGINSWITH &apos;com.adobe.flash&apos;) OR (bundleID BEGINSWITH &apos;com.adobe.bridge&apos;) OR (bundleID MATCHES &apos;com.adobe.dreamweaver.*&apos;)</string>
	<key>Domainer</key>
	<string>bundleID == &apos;com.ragesw.domainer&apos;</string>
	<key>Qt Creator</key>
	<string>bundleID == &apos;com.nokia.qtcreator&apos;</string>
	<key>Ruby Mine</key>
	<string>bundleID == &apos;com.jetbrains.rubymine&apos;</string>
	<key>ooVoo</key>
	<string>bundleID MATCHES &apos;com\.apple\.java.*\.ooVoo&apos;</string>
	<key>Blizzard (WoW)</key>
	<string>bundleID MATCHES &apos;com\.blizzard\..*&apos;</string>
	<key>Steam</key>
	<string>bundleID == &apos;com.valvesoftware.steam&apos;</string>
	<key>Test</key>
	<string>bundleID == &apos;com.irradiatedsoftware.TestWindowIgnore&apos;</string>
	<key>SAP</key>
	<string>bundleID == &apos;com.sap.platin&apos;</string>
	<key>OpenOffice</key>
	<string>bundleID == &apos;org.openoffice.script&apos;</string>
	<key>LibreOffice</key>
	<string>bundleID == &apos;org.libreoffice.script&apos;</string>
	<key>iOS Simulator</key>
	<string>bundleID == &apos;com.apple.iphonesimulator&apos;</string>
</dict>
</plist>
